.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
    gap: 45px;
}
.btn-proceed{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    align-items: center;
}
.proceed-link{
    text-decoration: none;
}




